* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#color-code {
  height: 30vh;
  background-color: tomato;
  font-size: 2.5rem;
}

#color-code p {
  margin: 0px 1%;
}

#color-code p:first-child {
  font-weight: bolder;
}

#code-box {
  border: black solid 2px;
  border-radius: 10px;
  padding: 0.3rem 1rem;
  background-color: white;
  color: black;
}

#mid-ribbon {
  height: 7vh;
  background-color: cyan;
  justify-content: space-around;
  font-size: 1.5rem;
}

#color-opts {
  height: 63vh;
  background-color: rgb(48, 43, 43);
}

#color-opts > div.container {
  width: 40vw;
  height: 50vh;
  margin: auto;
}

.opts {
  width: 8vw;
  height: 8vw;
  padding: 1rem;
  border: solid black 2px;
  margin: 3% 3%;
  transition: all 0.3s;
}

.opts:hover {
  transform: scale(1.1, 1.1);
}

.opts:nth-child(n + 4) {
  display: none;
}

.btn {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: red;
  background-color: rgb(173, 131, 131);
  padding: 0.5rem 1rem;
  border-radius: 10px;
  outline: 0px;
  cursor: pointer;
}

.btn:hover {
  color: rgb(173, 131, 131);
  background-color: red;
}
