@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

:root {
  /* 
  ==========
  Global variables
  ==========
  */

  --clr-primary-1: #e0fbfc;
  --clr-secondary-1: #22223b;
  --clr-accent-11: #ffd166;
  --border-curve: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Akaya Telivigala", cursive;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#color-code {
  height: 30vh;
  background-color: var(--clr-secondary-1);
  font-size: 2.5rem;
}

#color-code p {
  margin: 0px 1%;
}

#color-code p:first-child {
  color: var(--clr-accent-11);
  font-weight: bolder;
}

#code-box {
  font-style: italic;
  width: 20vw;
  border: black solid 2px;
  border-radius: var(--border-curve);
  background-color: var(--clr-accent-11);
  text-align: center;
}

#mid-ribbon {
  height: 7vh;
  background-color: var(--clr-accent-11);
  justify-content: space-around;
  font-size: 1.5rem;
}

#color-opts {
  height: 63vh;
  background-color: var(--clr-primary-1);
}

#color-opts > div.container {
  width: 40vw;
  height: 50vh;
  margin: auto;
}

.opts {
  width: 8vw;
  height: 8vw;
  padding: 1rem;
  border: solid black 2px;
  border-radius: var(--border-curve);
  margin: 3% 3%;
  transition: all 0.3s;
}

.opts:hover {
  transform: scale(1.1, 1.1);
}

.opts:nth-child(n + 4) {
  display: none;
}

.btn {
  display: block;
  margin: auto;
  font-size: 1.5rem;
  background-color: var(--clr-accent-11);
  padding: 0.5rem 1rem;
  border-radius: var(--border-curve);
  outline: 0px;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  color: var(--clr-accent-11);
  background-color: var(--clr-secondary-1);
}

select {
  font-size: 1.2rem;
  color: var(--clr-accent-11);
  background-color: var(--clr-secondary-1);
  padding: 5px 20px;
  border: solid rgb(224, 178, 178) 2px;
  border-radius: var(--border-curve);
  outline: 0px;
  cursor: pointer;
}

select:hover {
  border: solid rgb(231, 223, 223) 2px;
}
