@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

/* variable declarations */
:root {
  --border-curve: 10px;
  --clr-primary-1: #e0fbfc;
  --clr-secondary-1: #22223b;
  --clr-accent-11: #ffd166;
  --code-box-size: 320px;
  --font-size-1: 2.5rem;
  --font-size-2: 1.5rem;
  --opt-box-size: 100px;
}

.opts {
  --opt-margin: 30px 30px;
}

/* styles declarations */
* {
  box-sizing: border-box;
  font-family: "Akaya Telivigala", cursive;
  margin: 0;
  padding: 0;
}

.container {
  align-content: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#color-code {
  background-color: var(--clr-secondary-1);
  font-size: var(--font-size-1);
  height: 30vh;
}

#color-code p {
  margin: 0px 1%;
}

#color-code p:first-child {
  color: var(--clr-accent-11);
  font-weight: bolder;
}

#color-code p:last-child {
  background-color: var(--clr-accent-11);
  border: black solid 2px;
  border-radius: var(--border-curve);
  font-style: italic;
  text-align: center;
  width: var(--code-box-size);
}

#mid-ribbon {
  background-color: var(--clr-accent-11);
  font-size: var(--font-size-2);
  height: 7vh;
  justify-content: space-around;
}

select {
  background-color: var(--clr-secondary-1);
  border: solid rgb(224, 178, 178) 2px;
  border-radius: var(--border-curve);
  color: var(--clr-accent-11);
  cursor: pointer;
  font-size: var(--font-size-2);
  outline: 0px;
  padding: 2px 20px;
}

select:hover {
  border: solid rgb(231, 223, 223) 2px;
}

#color-opts {
  background-color: var(--clr-primary-1);
  height: 63vh;
}

#color-opts .container {
  height: 50vh;
  margin: auto;
  width: calc(var(--opt-box-size) * 5);
}

.opts {
  border: solid black 2px;
  border-radius: var(--border-curve);
  height: var(--opt-box-size);
  margin: var(--opt-margin);
  transition: all 0.3s;
  width: var(--opt-box-size);
}

.opts:hover {
  transform: scale(1.1, 1.1);
}

.opts:nth-child(n + 4) {
  display: none;
}

.btn {
  background-color: var(--clr-accent-11);
  border-radius: var(--border-curve);
  cursor: pointer;
  display: block;
  font-size: var(--font-size-2);
  margin: auto;
  outline: 0px;
  padding: 0.5rem 1rem;
  transition: all 0.4s;
}

.btn:hover {
  background-color: var(--clr-secondary-1);
  color: var(--clr-accent-11);
}

/* media queries */
@media all and (max-width: 580px) {
  :root {
    --code-box-size: 220px;
    --font-size-1: 1.5rem;
    --font-size-2: 0.8rem;
    --opt-box-size: 60px;
  }

  .opts {
    --opt-margin: 15px 15px;
  }
}
